body {
    width: 100vw;
    height: 100vh;
    background-color: #291956;
    font-size: 18px;
}

a {
    box-shadow: 3px 4px 0px 0px #000027;
    background: linear-gradient(to bottom, #79bbff 5%, #2e0977 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #291956;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
    transform: translateX(10px);
}

a:hover {
    background: linear-gradient(to bottom, #2e0977 5%, #79bbff 100%);
    background-color: #2e0977;
}



.container {
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.produto {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 50px;
    border: 30px solid #2e0977;
    box-shadow: 0px 0px 107px 6px rgba(255, 255, 255, 0.53);
}

.produto div {
    height: fit-content;
    margin: 20px;
}

.produto img {
    height: 300px;
    max-width: 300px;
    border-radius: 8px;
    margin: 0 auto;
}

.imagem {
    display: flex;
    flex-direction: column;
}

.produto .title {
    width: 276px;
}

.produto .description {
    width: 276px;
}

.produto .price {
    align-self: flex-end;
}

.produto a {
    margin: 0 20px;
}

.trocar-produto {
    display: flex;
    width: 100%;
    flex-direction: row;
    width: fit-content;
    align-self: center;
}

.trocar-produto a {
    width: fit-content;
}

.loader {
    display: block;
    position: fixed;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    transform: translateX(-50%);
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.inicio {
    position: fixed;
    top: 40px;
    left: 50px;
}

.description {
    display: flex;
}

.detalhes{
    position: relative;

}
.comprar{
    position: absolute;
    bottom: 20px;
    left: 130px;
}